<h1>Create a New Band!</h1>

<div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
				<br>
      <% end %>
</div>

<form action=" <%= bands_url %>" method = 'post' >
	<input
	type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

<label for='name'>Band Name</label>
<input type='text'
			name='band[name]'
			id='name'
			value=''>
<br>

<input type='submit'>
